.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.date-input {
  height: 50px !important;
  border-radius: 20px !important;
  border-color: red !important;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input.date-input.react-datepicker-ignore-onclickoutside {
  height: 50px !important;
}

body {
  background-color: yellow !important;
}